.Bar {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
    background-color: #0b98de;
    border-top: solid grey;
    border-bottom: solid grey;
    text-align: center;
}

.ProfileSection {
    padding-top: 30px;
    max-height: 200px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}

.Bar img {
    display: block;
    max-height: 40%;
    max-width: 40%;
}

.Link, .Links button{
    margin: 0 10px;
    display: block; 
    float: left;
    text-decoration: none;    
    /* border: 1px solid #000; */
    font: inherit;
    color: black;
    background-color: #0b98de;
    padding-top: 25px;
    padding-right: 10px;    
    padding-bottom: 10px;    
    padding-left: 10px;
}

.Links button:hover {
    background-color: #17b0cf;
}

.Username{
    color: white;
    width: 200px;
    padding: 15px;
}
