.Bar {
    margin: 30px 0;
    padding: 15px; 
    width: 100%;
    background: grey
}
.Link {
    width: 100px;
    padding: 12px;
    margin: 0 6px 6px;
    background: blue;
    text-decoration: none;
    color: white;
}

.SessionNav {

}