.Heading {
    width: 80%;
    text-align: center;
    margin: 40px auto;
}

.FormContainer {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    padding: 30px;
}

.TextField {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.FormContainer section {
    display:block;
    margin-top: 20px;
    text-align: left;
}

.FormContainer section label {
    font: inherit;
    display:block;
    margin: 5px 0;
}

@media (min-width: 600px) {
    .FormContainer {
        width: 500px;
    }
}