.Container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "sidebar main";
    width: 100vw;
    height: 100vh;
}

.ProjectsSidebar {
    grid-area: sidebar;
    padding: 10px 0 0 10px;
    border-right: 1px solid #3f3f3f;
    height: 100%;
}

.ProjectSection {
    grid-area: main;
}