/* .Logout {
    display: inline-flex;
    height: 100%;
} */

.LogoutButton input {
    margin: 0 10px;
    display: block; 
    float: left;
    text-decoration: none;    
    border: none;
    font: inherit;
    color: black;
    background-color: #0b98de;
    padding-top: 25px;
    padding-right: 10px;    
    padding-bottom: 10px;    
    padding-left: 10px;
}